html {
    background: url(../images/backgroundImg-large.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 767px) {
    html {
        background: none !important;
        background-color: #F9F9F9 !important;
    }

    header {
        border: none !important;
    }
}